<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="css/txt" href="template.css">
	</head>
	<body>
		<div id="terms_div">
			<h2>Terms</h2>
			<ul id="tems_list">
				{% for term in terms %}i
					<li>
						<h4>{{term.name}}</h4>
						<p>{{term.deff}}</p>
					</li>
				{ % endfor %}
			</ul>
		</div>
		<div id="related">
			<h2>Related Links</h2>
			<ul>
				{% for link in links %}
					<li>
						<p>{{link.title}}<a href="{{link.url}}">{{link.url}}</a></p>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="lower">
			<p> This is some text </p>
		</div>
	</body>
</html>
