html {
	min-height: 100%;
}

body {
	min-height: 100%;
	background-image: url("/static/images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

hr {
	height: 2px;
	border: none;
	background-color: gray;
}

#content {
	padding: 10px;
	min-height: 100%;
	background-color: rgba(170,180,180,0.6);
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

#query_div {
	padding: 10px;
	border-left: 2px solid gray;
	border-right:2px solid gray;
	margin-right: 30%;
	margin-left:30%;
	width:40%;
	text-align: left;
}

#terms_div{
	border-right: 2px solid gray;
	padding-left: 10px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	width: 58%;
}

#related_div{
	padding-left:10px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	width: 38%;
}

#lower_div{
	clear: both;
	display:block;
}

.term {
}

a {
	color: black;
	text-decoration: none;
}

.link {
	padding: 2px;
}

.link:hover{
	background-color: rgba(170,180,180,1);
}

.arrow {
	float: left;
	width: 20%;
}

.arrow > img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

#card_div {
	float:left;
	background-color: white;
	width: 60%;
}

#card_div > p {
	vertical-align: middle;
}