<!DOCTYLE HTML>
<html>
	<head>
		<title>Learn Something</title>
		<link rel="stylesheet" type="text/css" href="static/index.css"/>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="static/script/index.js"></script>
	</head>
	<body>
		<div id="content">
			<h1>Welcome to Wiki-Flash</h1>
			<hr>
			<div id="query_div">
				<h2>What would you like to learn?</h2>
				<form id="form">
					<input id="term_in" size="50" type="text">
					<input type="submit" value="Enter">
				</form>
			</div>

			<hr>

			<div id="terms_div" style="display:none;">
				<h2>Terms</h2>
				<div id="terms_list">

				</div>
			</div>
			<div id="related_div" style="display:none">
				<h2>Related Links</h2>
				<div id="related_list">

				</div>
			</div>

			<hr id="second_line" style="display:none;">

			<div id="lower_div" style="display:none;">
				<div id="left_arrow" class="arrow">
					<img src="static/images/left_arrow.png"/>
				</div>
				<div id="card_div">
					<p id="question"></p>
					<p id="answer"></p>
				</div>
				<div id="right_arrow" class="arrow">
					<img src="static/images/right_arrow.png"/>
				</div>
			</div>
		</div>
	</body>
</html>